{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}


{% block body %}
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/slider1.jpeg') }}" class="d-block w-100" alt="Peinture 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Peinture abstraite</h5>
                        <p>Un jeu de couleurs et de lumière fascinant.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ asset('images/slider2.jpg') }}" class="d-block w-100" alt="Peinture 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nature vivante</h5>
                        <p>Une harmonie entre réalisme et émotion.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ asset('images/slider3.jpg') }}" class="d-block w-100" alt="Peinture 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Portrait expressif</h5>
                        <p>Une touche moderne au classicisme.</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>
{% endblock %}
