<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale =1.0" >
    <title>ADMIN</title>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% include 'admin/partials/header.html.twig' %}

{% block body %}

{% endblock %}
</body>
</html>
